# Hypothesis Testing Exercise
Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

Buyer Ratio.mtw

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [4]:
df = pd.read_csv('BuyerRatio.csv')

In [5]:
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [8]:
data= [[50,142,131,70],[435,1523,1356,750]]

In [9]:
stat, p_value, dof, expected= stats.chi2_contingency(data)
print(stat)
print(p_value)
print(dof)
print(expected)

1.595945538661058
0.6603094907091882
3
[[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [10]:
print(f"p-value for chi-square Test: {p_value}")
print (f"Test statistic : {stat}")

p-value for chi-square Test: 0.6603094907091882
Test statistic : 1.595945538661058

In [12]:
alpha = 0.05
if p_value< alpha:
    print('We are rejecting Null Hypothesis')
else:
        print('We are accepting Null Hypothesis')

We are accepting Null Hypothesis